* {
  margin: 0;
  padding: 0;
}
:root {
  font-size: 10px;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 64rem;
  height: 64rem;
  flex-wrap: wrap;
  border: 1px solid;
}
div {
  width: 8rem;
  height: 8rem;
}
.black {
  background-color: black;
}
.red {
  background-color: red;
}
